{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as m %}
{% import "history/_AmbulanceForm.html" as forms %}
{% block page_content %}
<div class="card">
  <div class="card-header m-0">
    <h5>
      <a href="{{ url_for('history.history_edit', h=h, pill=1) }}">История болезни {{history.hist_number}}</a>
    </h5>
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        {% if pill == '1' %}
          <a class="nav-link active"  data-toggle="pill" href="#ambulance">Амбулаторный прием</a>
        {% else %}
          <a class="nav-link"  data-toggle="pill" href="#ambulance">Амбулаторный прием</a>
        {% endif %}
      </li>
      {% if h_e != '0' %}
      <li class="nav-item">
        {% if pill == '2' %}
          <a class="nav-link active" data-toggle="pill" href="#instrumental">Данные инструментальных исследований</a>
        {% else %}
          <a class="nav-link" data-toggle="pill" href="#instrumental">Данные инструментальных исследований</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if pill == '3' %}
          <a class="nav-link active" data-toggle="pill" href="#protesis">Протез</a>
        {% else %}
          <a class="nav-link" data-toggle="pill" href="#protesis">Протез</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if pill == '4' %}
          <a class="nav-link active" data-toggle="pill" href="#telerentgenography">Телерентгенография нижних конечностей</a>
        {% else %}
          <a class="nav-link" data-toggle="pill" href="#telerentgenography">Телерентгенография нижних конечностей</a>
        {% endif %}
      </li>
      <li class="nav-item">
        {% if pill == '5' %}
          <a class="nav-link active" data-toggle="pill" href="#preoperative">Предоперационные обследования</a>
        {% else %}
          <a class="nav-link" data-toggle="pill" href="#preoperative">Предоперационные обследования</a>
        {% endif %}
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="card-body">

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Амбулаторный прием-->
      {% if pill == '1' %}
        <div class="tab-pane active mx-0" id="ambulance">
          {{forms.AmbulanceForm(AmbulanceMainForm, h, history_event_id, event, items)}}
        </div>
      {% else %}
        <div class="tab-pane fade mx-0" id="ambulance">
          {{forms.AmbulanceForm(AmbulanceMainForm, h, history_event_id, event, items)}}
        </div>
      {% endif %}


        {% if pill == '2' %}
          <div class="tab-pane active mx-0" id="instrumental">
            {{forms.InstumentalForm(IndicatorsForm, h, history_event_id, items_2, pill)}}
          </div>
        {% else %}
          <div class="tab-pane fade mx-0" id="instrumental">
            {{forms.InstumentalForm(IndicatorsForm, h, history_event_id, items_2, pill)}}
          </div>
        {% endif %}

        {% if pill == '3' %}
          <div class="tab-pane active mx-0" id="protesis">
            {{forms.Prosthesis(ProsthesisForm, h, history_event_id, pill)}}
          </div>
        {% else %}
          <div class="tab-pane fade mx-0" id="protesis">
            {{forms.Prosthesis(ProsthesisForm, h, history_event_id, pill)}}
          </div>
        {% endif %}

        {% if pill == '4' %}
          <div class="tab-pane active" id="telerentgenography">
            {{forms.TelerentgenographyForm(TelerentgenographyForm, h, history_event_id, items_3, pill)}}
          </div>
        {% else %}
          <div class="tab-pane fade" id="telerentgenography">
            {{forms.TelerentgenographyForm(TelerentgenographyForm, h, history_event_id, items_3, pill)}}
          </div>
        {% endif %}

        {% if pill == '5' %}
          <div class="tab-pane active" id="preoperative">
            {{forms.PreoperativeForm(PreoperativeForm, h, history_event_id, items_4, pill)}}
          </div>
        {% else %}
          <div class="tab-pane fade" id="preoperative">
            {{forms.PreoperativeForm(PreoperativeForm, h, history_event_id, items_4, pill)}}
          </div>
        {% endif %}


        </div>

        </div>
      </div>


{% endblock %}
